<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Donald Glaser: From physics to biology and neuroscience"

>
  <image imageURL="images/Archives-logo-facebook-version-5.jpg"
	thumbURL="thumbs/Archives-logo-facebook-version-5.jpg"
	linkURL="images/Archives-logo-facebook-version-5.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\Facebook\Archives-logo-facebook-version-5.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sign_Archives_website_Page_3.jpg"
	thumbURL="thumbs/sign_Archives_website_Page_3.jpg"
	linkURL="images/sign_Archives_website_Page_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\sign_Archives_website_Page_3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1 Graduation photo DAG_1_9_3_0007 .jpg"
	thumbURL="thumbs/1 Graduation photo DAG_1_9_3_0007 .jpg"
	linkURL="images/1 Graduation photo DAG_1_9_3_0007 .jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\1 Graduation photo DAG_1_9_3_0007 .jpg">
    <title><![CDATA[Donald Glaser and friend in front of Caltech’s Athenaeum on graduation day.]]></title>
    <caption><![CDATA[June 1949]]></caption>
  </image>
  <image imageURL="images/2 Caltech Christmas card DAG_1_2_3_0001.jpg"
	thumbURL="thumbs/2 Caltech Christmas card DAG_1_2_3_0001.jpg"
	linkURL="images/2 Caltech Christmas card DAG_1_2_3_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\2 Caltech Christmas card DAG_1_2_3_0001.jpg">
    <title><![CDATA[Christmas card from Carl Anderson and others at Caltech.]]></title>
    <caption><![CDATA[1949]]></caption>
  </image>
  <image imageURL="images/4 faculty.jpg"
	thumbURL="thumbs/4 faculty.jpg"
	linkURL="images/4 faculty.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\4 faculty.png">
    <title><![CDATA[While at Caltech, Donald Glaser took classes with C.C. Lauritsen, I.S. Bowen, W.A. Fowler, and R.F. Christy, among others.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4 Journal entry DAG_1_1_6_0001.jpg"
	thumbURL="thumbs/4 Journal entry DAG_1_1_6_0001.jpg"
	linkURL="images/4 Journal entry DAG_1_1_6_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\4 Journal entry DAG_1_1_6_0001.jpg">
    <title><![CDATA[Personal journal entry during Glaser’s period of work on the bubble chamber.]]></title>
    <caption><![CDATA[March 24, 1958]]></caption>
  </image>
  <image imageURL="images/5 Bubble chamber notebook DAG_5_2_5_0052.jpg"
	thumbURL="thumbs/5 Bubble chamber notebook DAG_5_2_5_0052.jpg"
	linkURL="images/5 Bubble chamber notebook DAG_5_2_5_0052.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\5 Bubble chamber notebook DAG_5_2_5_0052.jpg">
    <title><![CDATA[Bubble chamber lab notebook.]]></title>
    <caption><![CDATA[June 22, 1955]]></caption>
  </image>
  <image imageURL="images/6 Bubble tracks photo 1 DAG_5_5_10_0001.jpg"
	thumbURL="thumbs/6 Bubble tracks photo 1 DAG_5_5_10_0001.jpg"
	linkURL="images/6 Bubble tracks photo 1 DAG_5_5_10_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\6 Bubble tracks photo 1 DAG_5_5_10_0001.jpg">
    <title><![CDATA[Bubble chamber tracks photo.]]></title>
    <caption><![CDATA[Undated]]></caption>
  </image>
  <image imageURL="images/7 Bubble tracks photo 2 DAG_5_5_10_0007.jpg"
	thumbURL="thumbs/7 Bubble tracks photo 2 DAG_5_5_10_0007.jpg"
	linkURL="images/7 Bubble tracks photo 2 DAG_5_5_10_0007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\7 Bubble tracks photo 2 DAG_5_5_10_0007.jpg">
    <title><![CDATA[Bubble chamber tracks photo.]]></title>
    <caption><![CDATA[Undated]]></caption>
  </image>
  <image imageURL="images/8 DAG_5_5_11_0001.jpg"
	thumbURL="thumbs/8 DAG_5_5_11_0001.jpg"
	linkURL="images/8 DAG_5_5_11_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\8 DAG_5_5_11_0001.jpg">
    <title><![CDATA[Song lyrics by Arthur Roberts inspired by the bubble chamber.]]></title>
    <caption><![CDATA[November 1, 1958]]></caption>
  </image>
  <image imageURL="images/9 DAG_1_5_2_0006.jpg"
	thumbURL="thumbs/9 DAG_1_5_2_0006.jpg"
	linkURL="images/9 DAG_1_5_2_0006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\9 DAG_1_5_2_0006.jpg">
    <title><![CDATA[An informal portrait of Donald Glaser taken during the Nobel celebrations.]]></title>
    <caption><![CDATA[December 1960]]></caption>
  </image>
  <image imageURL="images/10 DAG_1_4_3_0001.jpg"
	thumbURL="thumbs/10 DAG_1_4_3_0001.jpg"
	linkURL="images/10 DAG_1_4_3_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\10 DAG_1_4_3_0001.jpg">
    <title><![CDATA[Glaser’s Nobel lecture.]]></title>
    <caption><![CDATA[December 1960]]></caption>
  </image>
  <image imageURL="images/11 DAG_1_5_3_0005.jpg"
	thumbURL="thumbs/11 DAG_1_5_3_0005.jpg"
	linkURL="images/11 DAG_1_5_3_0005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\11 DAG_1_5_3_0005.jpg">
    <title><![CDATA[Glaser receiving the Nobel Prize from King Gustaf VI Adolf of Sweden.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/12 DAG_1_5_2_0015.jpg"
	thumbURL="thumbs/12 DAG_1_5_2_0015.jpg"
	linkURL="images/12 DAG_1_5_2_0015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\12 DAG_1_5_2_0015.jpg">
    <title><![CDATA[The 1960 Nobel Prize winners.]]></title>
    <caption><![CDATA[From left to right: Willard F. Libby, Chemistry; Peter Medawar, Physiology or Medicine; Sir Frank MacFarlane Burnet, Physiology or Medicine; Donald Glaser, Physics; Saint-John Perse, Literature.]]></caption>
  </image>
  <image imageURL="images/Glaser 3 nobelists.jpg"
	thumbURL="thumbs/Glaser 3 nobelists.jpg"
	linkURL="images/Glaser 3 nobelists.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\Glaser 3 nobelists.png">
    <title><![CDATA[Excerpts from Donald Glaser and Carl Anderson's reflections about three generations of Nobel Prize winners.]]></title>
    <caption><![CDATA[1960 and 1981]]></caption>
  </image>
  <image imageURL="images/13 DAG_1_9_14_0010.jpg"
	thumbURL="thumbs/13 DAG_1_9_14_0010.jpg"
	linkURL="images/13 DAG_1_9_14_0010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\13 DAG_1_9_14_0010.jpg">
    <title><![CDATA[Carl Anderson was Glaser’s doctoral advisor. Glaser spoke at Anderson’s memorial service.]]></title>
    <caption><![CDATA[February 25, 1991]]></caption>
  </image>
  <image imageURL="images/14 DAG_1_9_14_0013.jpg"
	thumbURL="thumbs/14 DAG_1_9_14_0013.jpg"
	linkURL="images/14 DAG_1_9_14_0013.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\14 DAG_1_9_14_0013.jpg">
    <title><![CDATA[The first page of Glaser's speech for Anderson’s memorial service.]]></title>
    <caption><![CDATA[February 25, 1991]]></caption>
  </image>
  <image imageURL="images/15 DAG_1_1_12_0001.jpg"
	thumbURL="thumbs/15 DAG_1_1_12_0001.jpg"
	linkURL="images/15 DAG_1_1_12_0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\15 DAG_1_1_12_0001.jpg">
    <title><![CDATA[After winning the Nobel Prize in physics, Glaser accepted an offer from MIT as visiting professor in Biophysics. ]]></title>
    <caption><![CDATA[1961]]></caption>
  </image>
  <image imageURL="images/16 DAG_1_1_7_0088.jpg"
	thumbURL="thumbs/16 DAG_1_1_7_0088.jpg"
	linkURL="images/16 DAG_1_1_7_0088.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\16 DAG_1_1_7_0088.png">
    <title><![CDATA[Glaser's notebooks during this time show a growing interest in biology.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Qualitative analysis.jpg"
	thumbURL="thumbs/Qualitative analysis.jpg"
	linkURL="images/Qualitative analysis.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\Qualitative analysis.png">
    <title><![CDATA[Glaser's "Qualitative analysis" notebook reveals remarkable introspections.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/19 DAG_1_1_6_0004.jpg"
	thumbURL="thumbs/19 DAG_1_1_6_0004.jpg"
	linkURL="images/19 DAG_1_1_6_0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\19 DAG_1_1_6_0004.png">
    <title><![CDATA[An example of Glaser’s organizational and time management skills.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/23 DAG_6_3_9_0004.jpg"
	thumbURL="thumbs/23 DAG_6_3_9_0004.jpg"
	linkURL="images/23 DAG_6_3_9_0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\23 DAG_6_3_9_0004.jpg">
    <title><![CDATA[Glaser in his molecular biology lab.]]></title>
    <caption><![CDATA[Undated]]></caption>
  </image>
  <image imageURL="images/24 DAG_6_3_9_0012.jpg"
	thumbURL="thumbs/24 DAG_6_3_9_0012.jpg"
	linkURL="images/24 DAG_6_3_9_0012.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\24 DAG_6_3_9_0012.jpg">
    <title><![CDATA[Glaser’s period in molecular biology included the design of the Cyclops, an automatic cell inoculator, and the Dumbwaiter, an automated system for growth and analysis of large numbers of bacterial colonies.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/25 DAG_1_1_10_0001 first page of whole folder.jpg"
	thumbURL="thumbs/25 DAG_1_1_10_0001 first page of whole folder.jpg"
	linkURL="images/25 DAG_1_1_10_0001 first page of whole folder.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\25 DAG_1_1_10_0001 first page of whole folder.jpg">
    <title><![CDATA[Notes on general scientific interests reveal Glaser’s motivations during his period in molecular biology.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20 DAG_1_2_4_0008.jpg"
	thumbURL="thumbs/20 DAG_1_2_4_0008.jpg"
	linkURL="images/20 DAG_1_2_4_0008.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\20 DAG_1_2_4_0008.jpg">
    <title><![CDATA[Max Delbrück, 1969 Nobel Laureate in Physiology or Medicine, switched from theoretical physics to biology early in his career, as did Glaser. Delbrück hoped to “seduce more souls from physics” with Glaser’s help.]]></title>
    <caption><![CDATA[1969]]></caption>
  </image>
  <image imageURL="images/22 DAG_1_8_7_0003.jpg"
	thumbURL="thumbs/22 DAG_1_8_7_0003.jpg"
	linkURL="images/22 DAG_1_8_7_0003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\22 DAG_1_8_7_0003.jpg">
    <title><![CDATA[Caltech Alumni Distinguished Service Award awarded to Donald Glaser.]]></title>
    <caption><![CDATA[1966]]></caption>
  </image>
  <image imageURL="images/21 DAG_1_8_7_0002.jpg"
	thumbURL="thumbs/21 DAG_1_8_7_0002.jpg"
	linkURL="images/21 DAG_1_8_7_0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\21 DAG_1_8_7_0002.jpg">
    <title><![CDATA[Prize motivation for the Caltech Alumni Distinguished Service Award.]]></title>
    <caption><![CDATA[1966]]></caption>
  </image>
  <image imageURL="images/26 DAG_7_5_4_0017.jpg"
	thumbURL="thumbs/26 DAG_7_5_4_0017.jpg"
	linkURL="images/26 DAG_7_5_4_0017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\26 DAG_7_5_4_0017.jpg">
    <title><![CDATA[In 1983, Donald Glaser switched his research to neuroscience. He focused on the visual system, also in relation to art and music.]]></title>
    <caption><![CDATA[1986]]></caption>
  </image>
  <image imageURL="images/28 DAG_7_3_5_0030.jpg"
	thumbURL="thumbs/28 DAG_7_3_5_0030.jpg"
	linkURL="images/28 DAG_7_3_5_0030.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\28 DAG_7_3_5_0030.jpg">
    <title><![CDATA[Glaser's notes on illusions.]]></title>
    <caption><![CDATA[1999]]></caption>
  </image>
  <image imageURL="images/27 DAG_7_6_12_0002.jpg"
	thumbURL="thumbs/27 DAG_7_6_12_0002.jpg"
	linkURL="images/27 DAG_7_6_12_0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\27 DAG_7_6_12_0002.jpg">
    <title><![CDATA[An Enigma figure, part of Glaser's work on neuroscience.]]></title>
    <caption><![CDATA[Undated.]]></caption>
  </image>
  <image imageURL="images/29 DAG_1_9_13_0036.jpg"
	thumbURL="thumbs/29 DAG_1_9_13_0036.jpg"
	linkURL="images/29 DAG_1_9_13_0036.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\29 DAG_1_9_13_0036.jpg">
    <title><![CDATA[Donald Glaser was an Applemaster, part of a select group of creative visionaries in their chosen fields.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30 DAG_1_9_13_0037.jpg"
	thumbURL="thumbs/30 DAG_1_9_13_0037.jpg"
	linkURL="images/30 DAG_1_9_13_0037.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\30 DAG_1_9_13_0037.jpg">
    <title><![CDATA[A group photo from Macworld.]]></title>
    <caption><![CDATA[January 1998]]></caption>
  </image>
  <image imageURL="images/32 DAG_1_9_4_0080.jpg"
	thumbURL="thumbs/32 DAG_1_9_4_0080.jpg"
	linkURL="images/32 DAG_1_9_4_0080.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\32 DAG_1_9_4_0080.jpg">
    <title><![CDATA[Glaser and fellow Caltech theorist and 1969 Nobel Prize winner in Physics, Murray Gell-Mann, together at an Applemasters event.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/31 DAG_1_2_7_0015.jpg"
	thumbURL="thumbs/31 DAG_1_2_7_0015.jpg"
	linkURL="images/31 DAG_1_2_7_0015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Bianca\Glaser_Caltech and Beyond exhibit\jpg\31 DAG_1_2_7_0015.jpg">
    <title><![CDATA[Letter from Murray-Gell Mann to Donald Glaser's wife, Lynn, acknowledging Glaser's groundbreaking contributions to science.]]></title>
    <caption><![CDATA[May 1, 2014]]></caption>
  </image>
</juiceboxgallery>
